.acardion {
  &Title {
    font-weight: 600;
    font-size: 15px;
    line-height: 210%;
    cursor: pointer;
    user-select: none;
    position: relative;
    &Arrow {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &List {
    padding-left: 10px;
  }
  &BtnSort {
    font-size: 13px;
    line-height: 200%;
  }
}
