.singUp {
  &Title {
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 28px;
  }
  &Btn {
    text-align: end;
    margin-bottom: 32px;
    &Wrap {
      margin-bottom: 20px;
    }
  }
}
