.tabs {
  &List {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Item {
    border: 1px solid #222222;
  }
  &Btn {
    width: 188px;
    height: 46px;
    font-size: 14px;
    line-height: 16px;
    &Active {
      background-color: #222222;
      color: #fff;
    }
  }
}
