.banner {
  margin-top: 46px;
  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
  }
  &Item {
    &:nth-child(1) {
      grid-column: 2 span;
      grid-row: 2 span;
    }
  }
}
