.poupUp {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #2222228a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  &Wrap {
    width: 100%;
    max-width: 500px;
    position: relative;
    background: #fff;
    padding: 60px;
  }
  &Btn {
    &Close {
      position: absolute;
      top: 22px;
      right: 22px;
    }
  }
}
