.product {
  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
  }
  &Item {
    position: relative;
  }
  &Sale {
    color: #ff0000;
    margin-left: 5px;
  }
}
.line {
  text-decoration: line-through;
}
.bold {
  font-weight: 500;
}
