.radio {
  display: inline-flex;
  align-items: center;

  &Circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #222;
    position: relative;
  }
}

input:checked + .radioCircle::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  border-radius: 50%;
}
