.footer {
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  &Container {
    max-width: 1490px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 42px;
  }
  &Wrap {
    &Top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 90px;
    }
    &Bottom {
      display: flex;
      gap: 25px;
      margin-bottom: 30px;
      &Line {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          width: 100%;
          bottom: 0;
          background: #222;
          height: 1px;
        }
      }
    }
  }
}
