.footer {
  flex: 0 0 auto;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  &Container {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 308px));
    grid-gap: 78px;
  }
}
