.SaleOnHlopk {
  position: relative;
  margin-top: 50px;
  &Wrap {
    position: absolute;
    top: 50%;
    left: 3%;
    max-width: 500px;
  }
  &Title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 25px;
    color: #ffffff;
  }
}
