.empty {
  &Wrap {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &Title {
    font-size: 30px;
    margin-bottom: 20px;
    &Text {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  &Btn {
    padding: 10px 15px;
    border: 1px solid #222;
    font-size: 16px;
    transition: 0.2s;
    &:hover {
      background-color: #222;
      color: #fff;
    }
  }
}
