.personalData {
  &Title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  &Subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: inline-block;
  }
  &Wrap {
    margin-top: 26px;
  }
  &Item {
    &Logo {
      color: #757575;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 5px;
    }
    &Text {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
