.message {
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaeab7;
  width: 25%;
  height: 15%;
  z-index: 99;
  border-radius: 10px;
  border: 4px solid #dbdbdb;
  &Active {
    transition: 0.3s;
    top: 3%;
  }
  &Title {
    font-size: 18px;
    font-weight: 500;
  }
}
